.footer {
    bottom: 0;
    clear: both;
    display: flex;
    color: #ffc13d;
    font-size: 0.9em;
    padding-top: 15px;
    font-style: italic;
    font-family: sans-serif;
    justify-content: center;
    background: linear-gradient(to top, #000, #2d2d2d);

    ul {
        display: flex;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a {
        color: #ffc13d;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    .footer-nav {
        padding-left: 0;
        list-style: none;
        font-size: .875rem;
        width: 275px;
        height: 48px;
        display: block;
        text-align: center;
        margin: 0 auto;

        a {
            color: inherit;
        }
    }

    .footer-nav .footer-nav-item {
        display: inline-block;
    }

    .footer-nav-item {
        margin: 5px;
    }

    .footer-nav-link {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .footer-copy {
        padding: 15px 2px;
        width: 300px;
        text-align: center;
    }

    .copy {
        color: #fff;
        font-style: normal;
    }
}


@media only screen and (min-width: 990px) {
    .footer {
        .footer-nav {
            width: 100%;
            height: unset;
            text-align: center;
        }

        .footer-copy {
            padding: 0;
            width: 100%;
        }
    }
}