@media only screen and (min-width: 1025px) {
    #adv-1 {
        grid-area: 2/3;
    }
    #adv-2 {
        grid-area: 3/1;
    }
    .adv {
        height: 455px;
        width: 100%;
        margin-top: 5px;
        margin-left: 5px;
        color: #a5a5a5;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        opacity: 1;
        transition: opacity .3s;
    }
    .banner-wrapper {
        width: 380px;
        height: 99%;
        position: relative;
        margin-right: -16px;
        margin-top: 1px;
        right: 0;
        border: 1px solid #d9d9d9;
    }
}