.container {
    max-width: 400px;
    max-height: 455px;
	padding: 15px 0 0 0;
    background-color: #101010;
}

.header-console {
    font-family: sans-serif;
    color: #ffc13d;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-left: 10px;
    text-decoration: none;
	letter-spacing: -.014em;
}

.footer-console {
	float: left;
    color: #fff;
    margin-top: 12px;
    font-weight: 700;
    font-size: .875rem;
    margin-left: 300px;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: -.018em;
    text-transform: uppercase;
    transition: all .2s ease-in-out;

}

.footer-console-logo {
	min-height: 44px;
    background-image: url(https://obj.ibxk.com.br/layout/voxel/consoles-widget-footer.png);
    background-repeat: no-repeat;
}

#console {
	overflow: hidden;
    max-width: 400px;
    max-height: 360px;
    margin: 15px 0 -5px 0;
}

#console::-webkit-scrollbar {
    width: 10px;
}

#console::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

#console::-webkit-scrollbar-thumb {
  background-color: #ffc13d;
  outline: 1px solid #ffc13d;
}

#console button {
    height: 405px;
}

#console .console-list {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ffffff;
}

#console .console-list a {
    display: flex;
    width: 400px;
    align-items: center;
    text-decoration: none;
}

.info {
    z-index: 1;
    position: absolute;
    color: #fff;
    margin-left: 22px;
    font-size: 0.9em;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.info:hover {
	color: #ff9900;
}

#console .score {
	z-index: 2;
    right: 0;
    top: 0px;
    padding: 23px 19px;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px #000;
}

.rate {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    padding: 8px;
}

#console .plataform {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: 900;
    color: #ffc13d;
    text-shadow: 1px 1px 0px #000;
}

.console-title {
    margin-top: 35px;
    max-width: 350px;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 1px 1px 0px #000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#console amp-img {
	width: 100%;
    max-width: 422px;
	max-height: 70px;
    box-shadow: 10px 10px 20px 1px #000;
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
}

#console amp-img img {
	z-index: 0;
    filter: contrast(1.5);
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
}

#console amp-img:hover {
	z-index: 2;
    filter: brightness(1.5);
}

#console[selected] {
    box-shadow: 10px yellow;
}

.xbox-1 {
    margin-left: 122px;
}

.ps-1 {
    margin-left: 80px;
}

.ps-2 {
    margin-left: 160px;
}

.ps-3 {
    margin-left: 270px;
}

a.nintendo-1 {
    margin-left: 100px;
}

a.nintendo-2 {
    margin-left: 190px;
}

a.nintendo-3 {
    margin-left: 260px;
}