@media (max-width: 320px) {
    .home-news-list-header .separator {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 1px;
        margin: 0 15px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.8239670868347339) 24%, rgba(255,193,61,1) 100%);
    }
    
    .home-news-list-header a {
        text-decoration: none;
    }
    
    .home-news-list-header {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        min-height: 40px;
        max-width: 280px;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
    }
    
    #newslist-container {
        display: flex;
        max-width: 280px;
        margin: 0 auto;
    }
    
    #newslist-container amp-img {
        border-radius: 6px;
        width: 280px !important;
    }
    
    .info {
        margin-bottom: 20px;
    }
    
    .article-normal {
        display: flex;
        flex-direction: column;
        width: 280px;
    }
    
    .article-normal amp-img {
        height: 180px !important;
    }
    
    .article-normal div {
        display: flex;
        flex-direction: column;
        margin-top: 65px;
        max-height: 124px;
    }
    
    .link {
        margin-bottom: 10px;
        text-decoration: none;
        font-family: sans-serif;
    }
    
    .article-normal amp-img {
        filter: brightness(0.8);
    }
    
    .article-normal amp-img:hover {
        filter: brightness(1);
    }
    
    .article-normal span, 
    .article-normal a {
        max-width: 360px;
        max-height: 124px;
        color: #262626;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .article-normal a:hover, .article-normal a span:hover {
        color: #ff9900;
    }
    
    .home-vertical-news-title {
        display: inline;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.227;
        letter-spacing: -.03em;
    }
    
    .home-vertical-news-info {
        font-size: 15px;
        line-height: 1.167;
        font-weight: 500;
        letter-spacing: -.03em;
        margin-bottom: .5rem;
    }
    
    .home-news-list-header-title {
        display: inline-block;
        color: #26262694;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -.03em;
        font-family: sans-serif;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .home-news-list-header-tags-btn {
        display: inline-block;
        font-size: 16px;
        color: #ff9900;
        font-weight: 500;
        font-family: sans-serif;
        text-transform: uppercase;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main a, .article-main span{
        color: #fff;
        mix-blend-mode: lighten;
    }
    
    .article-main amp-img {
        background: #000;
        height: 200px !important;
        mix-blend-mode: lighten;
    }
    
    .article-main div {
        display: flex;
        right: 0;
        bottom: 30px;
        opacity: 1;
        text-align: end;
        position: absolute;
        flex-direction: column;
        margin: auto 20px auto 10px;
    }
    
    .home-big-more-info {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
    }
    
    .home-big-news-title {
        font-size: 16px;
        margin: 5px 0;
        line-height: 1.067;
        font-weight: 700;
        letter-spacing: -.02em;
        display: inline;
        transition: all .2s ease-in-out;
    }
    
    .home-big-more-info, 
    .home-big-news-title {
        font-family: sans-serif;
        text-decoration: none;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content {
        opacity: .5;
        mix-blend-mode: lighten;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content:hover {
        opacity: .8;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .separator {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 1px;
        margin: 0 15px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.8239670868347339) 24%, rgba(255,193,61,1) 100%);
    }
    
    .home-news-list-header a {
        text-decoration: none;
    }
    
    .home-news-list-header {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        min-height: 40px;
        max-width: 340px;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
    }
    
    #newslist-container {
        display: flex;
        max-width: 340px;
        margin: 0 auto;
    }
    
    #newslist-container amp-img {
        border-radius: 6px;
        width: 340px !important;
    }
    
    .info {
        margin-bottom: 20px;
    }
    
    .article-normal {
        display: flex;
        flex-direction: column;
        width: 340px;
    }
  
    .article-normal div {
        display: flex;
        flex-direction: column;
        margin-top: 85px;
        max-height: 124px;
    }
    
    .link {
        margin-bottom: 10px;
        text-decoration: none;
        font-family: sans-serif;
    }
    
    .article-normal amp-img {
        filter: brightness(0.8);
        height: 200px !important;
    }
    
    .article-normal amp-img:hover {
        filter: brightness(1);
    }
    
    .article-normal span, 
    .article-normal a {
        max-width: 360px;
        max-height: 124px;
        color: #262626;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .article-normal a:hover, .article-normal a span:hover {
        color: #ff9900;
    }
    
    .home-vertical-news-title {
        display: inline;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.227;
        letter-spacing: -.03em;
    }
    
    .home-vertical-news-info {
        font-size: 15px;
        line-height: 1.167;
        font-weight: 500;
        letter-spacing: -.03em;
        margin-bottom: .5rem;
    }
       
    .home-news-list-header-title {
        display: inline-block;
        color: #26262694;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -.03em;
        font-family: sans-serif;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .home-news-list-header-tags-btn {
        display: inline-block;
        font-size: 16px;
        color: #ff9900;
        font-weight: 500;
        font-family: sans-serif;
        text-transform: uppercase;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main a, .article-main span{
        color: #fff;
        mix-blend-mode: lighten;
    }
    
    .article-main amp-img {
        background: #000;
        height: 220px!important;
        mix-blend-mode: lighten;
    }
    
    .article-main div {
        display: flex;
        right: 0;
        bottom: 30px;
        opacity: 1;
        text-align: end;
        position: absolute;
        flex-direction: column;
        margin: auto 20px auto 10px;
    }
    
    .home-big-more-info {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
    }
    
    .home-big-news-title {
        font-size: 16px;
        margin: 5px 0;
        line-height: 1.067;
        font-weight: 700;
        letter-spacing: -.02em;
        display: inline;
        transition: all .2s ease-in-out;
    }
    
    .home-big-more-info, 
    .home-big-news-title {
        font-family: sans-serif;
        text-decoration: none;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content {
        opacity: .5;
        mix-blend-mode: lighten;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content:hover {
        opacity: .8;
    }
}

@media (min-width: 425px) and (max-width: 679px) {
    .separator {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 1px;
        margin: 0 15px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.8239670868347339) 24%, rgba(255,193,61,1) 100%);
    }
    
    .home-news-list-header a {
        text-decoration: none;
    }
    
    .home-news-list-header {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        min-height: 40px;
        max-width: 375px;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
    }
    
    #newslist-container {
        display: flex;
        max-width: 375px;
        margin: 0 auto;
    }
    
    #newslist-container amp-img {
        border-radius: 6px;
        width: 375px !important;
    }
    
    .info {
        margin-bottom: 20px;
    }
    
    .article-normal {
        display: flex;
        flex-direction: column;
        width: 375px;
    }
  
    .article-normal div {
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        max-height: 124px;
    }
    
    .link {
        margin-bottom: 10px;
        text-decoration: none;
        font-family: sans-serif;
    }
    
    .article-normal amp-img {
        filter: brightness(0.8);
        height: 220px !important;
    }
    
    .article-normal amp-img:hover {
        filter: brightness(1);
    }
    
    .article-normal span, 
    .article-normal a {
        max-width: 375px;
        max-height: 124px;
        color: #262626;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .article-normal a:hover, .article-normal a span:hover {
        color: #ff9900;
    }
    
    .home-vertical-news-title {
        display: inline;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.227;
        letter-spacing: -.03em;
    }
    
    .home-vertical-news-info {
        font-size: 15px;
        line-height: 1.167;
        font-weight: 500;
        letter-spacing: -.03em;
        margin-bottom: .5rem;
    }
       
    .home-news-list-header-title {
        display: inline-block;
        color: #26262694;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -.03em;
        font-family: sans-serif;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .home-news-list-header-tags-btn {
        display: inline-block;
        font-size: 16px;
        color: #ff9900;
        font-weight: 500;
        font-family: sans-serif;
        text-transform: uppercase;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main a, .article-main span{
        color: #fff;
        mix-blend-mode: lighten;
    }
    
    .article-main amp-img {
        background: #000;
        height: 255px!important;
        mix-blend-mode: lighten;
    }
    
    .article-main div {
        display: flex;
        right: 0;
        bottom: 30px;
        opacity: 1;
        text-align: end;
        position: absolute;
        flex-direction: column;
        margin: auto 20px auto 10px;
    }
    
    .home-big-more-info {
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
    }
    
    .home-big-news-title {
        font-size: 16px;
        margin: 5px 0;
        line-height: 1.067;
        font-weight: 700;
        letter-spacing: -.02em;
        display: inline;
        transition: all .2s ease-in-out;
    }
    
    .home-big-more-info, 
    .home-big-news-title {
        font-family: sans-serif;
        text-decoration: none;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content {
        opacity: .5;
        mix-blend-mode: lighten;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content:hover {
        opacity: .8;
    }
}

@media (min-width: 680px) {
    .home-news-list-header .separator {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 1px;
        margin: 0 15px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.8239670868347339) 24%, rgba(255,193,61,1) 100%);
    }
    
    .home-news-list-header a {
        text-decoration: none;
    }
    
    .home-news-list-header {
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        min-height: 40px;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
    }
    
    #newslist-container {
        display: flex;
        max-width: 610px;
        margin: 0 auto;
    }
    
    #newslist-container amp-img {
        border-radius: 6px;
    }
    
    .info {
        margin-bottom: 20px;
    }
    
    .article-normal {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    
    .article-normal div {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        max-height: 124px;
    }
    
    .link {
        margin-bottom: 10px;
        text-decoration: none;
        font-family: sans-serif;
    }
    
    .article-normal amp-img {
        filter: brightness(0.8);
    }
    
    .article-normal amp-img:hover {
        filter: brightness(1);
    }
    
    .article-normal span, 
    .article-normal a {
        max-width: 360px;
        max-height: 124px;
        color: #262626;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .article-normal a:hover, .article-normal a span:hover {
        color: #ff9900;
    }
    
    .home-vertical-news-title {
        display: inline;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.227;
        letter-spacing: -.03em;
    }
    
    .home-vertical-news-info {
        font-size: 15px;
        line-height: 1.167;
        font-weight: 500;
        letter-spacing: -.03em;
        margin-bottom: .5rem;
    }
    
    .home-news-list-header-title:hover, .home-news-list-header-tags-btn:hover {
        color: #ff9900;
    }
    
    .home-news-list-header-title {
        display: inline-block;
        color: #262626;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -.03em;
        font-family: sans-serif;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
    }
    
    .home-news-list-header-tags-btn {
        display: inline-block;
        font-size: 16px;
        color: #4c4c4c;
        font-weight: 500;
        font-family: sans-serif;
        text-transform: uppercase;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main a, .article-main span{
        color: #fff;
        mix-blend-mode: lighten;
    }
    
    .article-main amp-img {
        background: #000;
        mix-blend-mode: lighten;
    }
    
    .article-main div {
        display: flex;
        right: 0;
        bottom: 30px;
        opacity: 1;
        text-align: end;
        position: absolute;
        flex-direction: column;
        margin: auto 20px auto 10px;
    }
    
    .home-big-more-info {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: -.063em;
    }
    
    .home-big-news-title {
        font-size: 28px;
        line-height: 1.067;
        font-weight: 700;
        letter-spacing: -.02em;
        display: inline;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .home-big-more-info, 
    .home-big-news-title {
        font-family: sans-serif;
        text-decoration: none;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content {
        opacity: .5;
        mix-blend-mode: lighten;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content:hover {
        opacity: .8;
    }
}
