#newslist-container {
	$WIDTH-BREAKPOINT-320PX: 300px;
	display: flex;
	font-family: sans-serif !important;
	overflow: hidden;
	a {
		text-decoration: none !important;
	}
	amp-img {
		border-radius: 6px;
		width: $WIDTH-BREAKPOINT-320PX !important;
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
	}
	div header {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		min-height: 40px;
		max-width: $WIDTH-BREAKPOINT-320PX;
		align-items: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
		a:nth-child(1) {
			display: inline-block;
			color: #26262694;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.03em;
			font-family: sans-serif;
			text-transform: uppercase;
			transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
		}
		span {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			height: 1px;
			margin: 0 15px;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(0, 0, 0, 0.8239670868347339) 24%,
				rgba(255, 193, 61, 1) 100%
			);
		}
		a:nth-child(3) {
			display: inline-block;
			font-size: 16px;
			color: #ff9900;
			font-weight: 500;
			font-family: sans-serif;
			text-transform: uppercase;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}
	}
	.info {
		margin-bottom: 20px;
	}
	.link {
		margin-bottom: 10px;
	}
	.article-normal {
		display: flex;
		flex-direction: column;
		width: $WIDTH-BREAKPOINT-320PX;
		a amp-img {
			filter: brightness(0.8);
			height: 180px !important;
			&:hover {
				filter: brightness(1);
			}
		}
		div {
			display: flex;
			margin-top: 10px;
			max-height: 124px;
			flex-direction: column;
			a,
			> span {
				max-width: 360px;
				max-height: 124px;
				color: #262626;
				transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;

				&:hover {
					color: #ff9900;
				}
			}
			a:nth-child(2) span {
				display: inline;
				font-size: 18px;
				font-weight: 700;
				line-height: 1.227;
				letter-spacing: -0.03em;
			}
			> span,
			a:nth-child(3) span {
				font-size: 15px;
				font-weight: 500;
				line-height: 1.167;
				margin-bottom: 0.5rem;
				letter-spacing: -0.03em;
			}
		}
	}
	.article-main {
		a,
		span {
			color: #fff;
			mix-blend-mode: lighten;
		}
		a {
			amp-img {
				background: #000;
				height: 200px !important;
				mix-blend-mode: lighten;
				div {
					right: 0;
					opacity: 1;
					bottom: 30px;
					display: flex;
					text-align: end;
					position: absolute;
					flex-direction: column;
					margin: auto 20px auto 10px;
					a:nth-child(2) {
						margin: 5px 0;
						display: inline;
						font-size: 16px;
						font-weight: 700;
						line-height: 1.067;
						letter-spacing: -0.02em;
						transition: all 0.4s ease-in-out;
					}
					> span,
					a:nth-child(3) {
						font-size: 12px;
						line-height: 1.2;
						font-weight: 500;
					}
				}
			}
		}
		.i-amphtml-layout-size-defined .i-amphtml-fill-content {
			opacity: 0.5;
			mix-blend-mode: lighten;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	.home-news-list-header {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		max-width: 100%;
		min-height: 30px;
		align-items: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
		a {
			text-decoration: none;
		}
		.separator {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			height: 1px;
			margin: 0 15px;
			background: linear-gradient(
				90deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(0, 0, 0, 0.8239670868347339) 24%,
				rgba(255, 193, 61, 1) 100%
			);
		}
	}
}

@media (min-width: 375px) {
	$WIDTH-BREAKPOINT-375PX: 340px;
	#newslist-container {
		max-width: $WIDTH-BREAKPOINT-375PX;
		amp-img {
			width: $WIDTH-BREAKPOINT-375PX !important;
		}
		div header {
			max-width: $WIDTH-BREAKPOINT-375PX;
		}
		.article-normal {
			width: $WIDTH-BREAKPOINT-375PX;
			a amp-img {
				height: 200px !important;
			}
		}
		.article-main {
			a {
				amp-img {
					height: 220px !important;
				}
			}
		}
	}
}

@media (min-width: 425px) {
	$WIDTH-BREAKPOINT-425PX: 375px;
	$HEIGHT-BREAKPOINT-425PX: 255px;
	#newslist-container {
		margin: 0 auto;
		max-width: $WIDTH-BREAKPOINT-425PX;
		amp-img {
			width: $WIDTH-BREAKPOINT-425PX !important;
		}
		div header {
			max-width: $WIDTH-BREAKPOINT-425PX;
		}
		.article-normal {
			width: $WIDTH-BREAKPOINT-425PX;
			a amp-img {
				height: $HEIGHT-BREAKPOINT-425PX !important;
			}
		}
		.article-main {
			a {
				amp-img {
					height: $HEIGHT-BREAKPOINT-425PX !important;
				}
			}
		}
	}
}

@media (min-width: 680px) and (max-width: 767px) {
	$WIDTH-BREAKPOINT-425PX: 84vw;
	#newslist-container {
		margin: 0 auto;
		max-width: $WIDTH-BREAKPOINT-425PX;
		amp-img {
			width: $WIDTH-BREAKPOINT-425PX !important;
		}
		div header {
			max-width: $WIDTH-BREAKPOINT-425PX;
		}
		.article-normal {
			width: $WIDTH-BREAKPOINT-425PX;
			a amp-img {
				height: 45vw !important;
			}
		}
		.article-main {
			a {
				amp-img {
					height: 45vw !important;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	$WIDTH-BREAKPOINT-680PX: 754px;
	#newslist-container {
		display: flex;
		margin: 0 auto;
		max-width: 645px;
		amp-img {
			border-radius: 6px;
			transition: all 0.4s ease-in-out;
			width: $WIDTH-BREAKPOINT-680PX !important;
			-webkit-transition: all 0.4s ease-in-out;
		}
		div header {
			max-width: $WIDTH-BREAKPOINT-680PX;
		}
		.article-normal {
			width: $WIDTH-BREAKPOINT-680PX;
			a amp-img {
				height: 40vw !important;
			}
		}
		.article-main a amp-img {
			height: 340px !important;
		}
		.contrast {
			float: left;
			margin: 10px 20px 0 auto;
		}
		.contrast-0 a amp-img {
			width: 644px !important;
		}
		.contrast-1 a amp-img,
		.contrast-2 a amp-img,
		.contrast-3 a amp-img,
		.contrast-4 a amp-img,
		.contrast-5 a amp-img,
		.contrast-6 a amp-img,
		.contrast-7 a amp-img,
		.contrast-8 a amp-img,
		.contrast-9 a amp-img,
		.contrast-10 a amp-img,
		.contrast-11 a amp-img,
		.contrast-12 a amp-img,
		.contrast-13 a amp-img,
		.contrast-14 a amp-img,
		.contrast-15 a amp-img,
		.contrast-16 a amp-img {
			width: 312px!important;
			height: 232px!important;
		}

		.contrast-17 {
			display: none;
		}

		.info {
			margin-bottom: 10px;
		}

		.article-normal {
			display: flex;
			align-items: center;
			overflow: hidden;

			div {
				display: flex;
				flex-direction: column;
				margin-left: 20px;
				max-height: 124px;
			}
		}

		.link {
			margin-bottom: 10px;
			text-decoration: none;
			font-family: sans-serif;
		}

		.article-normal amp-img {
			filter: brightness(0.8);
			&:hover {
				filter: brightness(1);
			}
			a,
			span {
				max-width: 360px;
				max-height: 300px;
				color: #262626;
				transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;

				&:hover {
					color: #ff9900;
				}
			}
		}

		.home-news-list-header {
			max-width: 644px;
		}

		.home-vertical-news-title {
			display: inline;
			font-size: 18px;
			font-weight: 700;
			line-height: 1.227;
			letter-spacing: -0.03em;
		}

		.home-vertical-news-info {
			font-size: 15px;
			line-height: 1.167;
			font-weight: 500;
			letter-spacing: -0.03em;
			margin-bottom: 0.5rem;
		}

		.home-news-list-header-title:hover,
		.home-news-list-header-tags-btn:hover {
			color: #ff9900;
		}

		.home-news-list-header-title {
			display: inline-block;
			color: #262626;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: -0.03em;
			font-family: sans-serif;
			text-transform: uppercase;
			transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
		}

		.home-news-list-header-tags-btn {
			display: inline-block;
			font-size: 16px;
			color: #4c4c4c;
			font-weight: 500;
			font-family: sans-serif;
			text-transform: uppercase;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.article-main a,
		.article-main span {
			color: #fff;
			mix-blend-mode: lighten;
		}

		.article-main amp-img {
			background: #000;
			mix-blend-mode: lighten;
		}

		.article-main div {
			display: flex;
			right: 0;
			bottom: 30px;
			opacity: 1;
			text-align: end;
			position: absolute;
			flex-direction: column;
			margin: auto 20px auto 10px;
		}

		.home-small-more-info {
			font-size: 10px;
			line-height: 1.2;
			font-weight: 400;
		}

		.home-small-news-title {
			font-size: 14px;
			line-height: 1.067;
			font-weight: 700;
			letter-spacing: -0.02em;
			display: inline;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.home-small-more-info,
		.home-small-news-title {
			font-family: sans-serif;
			text-decoration: none;
		}

		.home-middle-more-info {
			font-size: 14px;
			line-height: 1.2;
			font-weight: 400;
		}

		.home-middle-news-title {
			font-size: 24px;
			line-height: 1.067;
			font-weight: 700;
			letter-spacing: -0.08em;
			display: inline;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.home-middle-more-info,
		.home-middle-news-title {
			font-family: sans-serif;
			text-decoration: none;
		}

		.home-big-more-info {
			font-size: 16px;
			line-height: 1.2;
			font-weight: 500;
		}

		.home-big-news-title {
			font-size: 28px;
			line-height: 1.067;
			font-weight: 700;
			letter-spacing: -0.02em;
			display: inline;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.home-big-more-info,
		.home-big-news-title {
			font-family: sans-serif;
			text-decoration: none;
		}

		.article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content {
			opacity: 0.5;
			mix-blend-mode: lighten;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}

		.article-main .i-amphtml-layout-size-defined .i-amphtml-fill-content:hover {
			opacity: 0.8;
		}
	}

	.test-subhome {
		width: 768px;
	}
}

@media (min-width: 1024px) {
	#newslist-container {
		float: left;
	}

	.test-subhome {
		width: 1010px;
	}
}
