body {
    margin: 0;
    padding: 0;
}

.page {
    height: 60px;
    width: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #000, #2d2d2d);
}

.menuDesk {
    display: none;
}

#menu {
    position: absolute;
    width: 100vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    padding-bottom: 100vh;
    background: #02020294;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s ease-in-out;
}

#menu li {
    padding: 2% 1%;
    font-size: 24px;
}

#menuToggle {
    display: block;
    position: relative;
    width: 34px;
    top: 20px;
    left: 30px;
    z-index: 1;
    user-select: none;
}

#menuToggle a {
    font-weight: 700;
    color: #ffc13d;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: tomato;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #ffc13d;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 36px;
    position: absolute;
    top: -10px;
    left: -7px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffc13d;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked~ul {
    transform: none;
}

@media only screen and (min-width: 1025px) {

    #menuToggle {
        display: none;
    }

    .menu:hover .menu__link:not(:hover) {
        color: #ffc13d;
    }

    .menu__list {
        display: flex;
        text-align: center;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .menu__group {
        flex-grow: 1;
    }

    .menuDesk {
        display: block;
        max-width: 880px;
        margin: 0 auto;
    }

    .menu__link {
        display: block;
        padding: 1.5rem 1.5rem;
        font-weight: 700;
        color: #ffc13d;
        text-decoration: none;
        text-transform: uppercase;
    }

    /* states */
    .menu__link:focus,
    .menu__link:active {
        color: #fff;
    }

    /* hover animation */

    .menu__link {
        position: relative;
        overflow: hidden;

        will-change: color;
        transition: color .25s ease-out;
    }

    .menu__link::before,
    .menu__link::after {
        content: "";
        width: 0;
        height: 3px;
        background-color: #fff;
        will-change: width;
        transition: width .1s ease-out;
        position: absolute;
        bottom: 0;
    }

    .menu__link::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .menu__link::after {
        right: 50%;
        transform: translateX(50%);
    }

    .menu__link:hover::before,
    .menu__link:hover::after {
        width: 100%;
        transition-duration: .2s;
    }

    .page {
        display: flex;
        top: 0;
        order: 1;
        margin: 0;
        width: 100%;
        height: 65px;
        font-size: 1rem;
        box-sizing: border-box;
        flex-direction: column;
        font-family: sans-serif;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .24), 0 2px 4px 0 rgba(0, 0, 0, .48);
        background: linear-gradient(to bottom, #000, #2d2d2d);
    }
}